*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn-1{
  background-color: white;
  border: 1px solid blue;
}
input{
  width: 600px;
  height: 35px;
  padding: 0 10px;
}
.App{
  padding: 0 10%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
}
section{
  padding: 7%;
}
.feedback-approval{
  padding: 10px 0%;
  border-bottom: 1px rgb(202, 202, 202) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stage h1{
  border-bottom: solid 2px blue;
}
.btn-div{
  display: flex;
  justify-content: center;
 
}
.save{
  position:absolute;
  right: 7%;
}